# Framework
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
transformers==4.27.1
pytorch-lightning==2.0.0

# Metrics
torchmetrics==0.11.4
scikit-learn==1.2.2
seqeval

# Utils
importlib-metadata
