# Framework
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1
transformers==4.26.1
pytorch-lightning==1.9.1

# Metrics
torchmetrics==0.11.1
scikit-learn==1.2.1
seqeval

# Utils
importlib-metadata
