# Framework
--extra-index-url https://download.pytorch.org/whl/cu111
torch==1.8.1
transformers==4.9.1
pytorch-lightning==1.4.0

# Utils
importlib-metadata

# Metrics
torchmetrics==0.4.1
scikit-learn==0.24.2
seqeval
